<!-- Signup -->

<!DOCTYPE html>
<html lang="en">
	<head>
	</head>
	<body id="banner2">

    <section>
      <h2>You've made the right choice.</h2>

      <%= devise_error_messages! %>

      <%= f.email_field :email, :placeholder => 'email' autofocus: true, :style => "text-align: center" %>

      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", :style => "text-align: center" %>

      <%= f.password_field :password_confirmation, autocomplete: "off", :style => "text-align: center" %>

      <%= f.submit "Sign up", class: "btn-submit" %>
    <% end %>

    </section>
    <section id="banner3">
    </section>


  </body>
  </html>
