<!-- need an if statement here to check for quiz "acceptance" -->
<section id="banner2">

<%= form_for @answer do |f| %>

<% if @user.quiz.q1 != "" %>

<div class="field"> <!-- reply 1  -->
  <%= f.label :r1, :value => @user.quiz.q1, :class => "edit_labels_answer" %>
  <%= f.text_field :r1, :placeholder => "What's your Answer?",  :style => "text-align: center" %>
</div>

<% end %>

<% if @user.quiz.q2 != "" %>

<div class="field"> <!-- reply 2  -->
  <%= f.label :r2, :value => @user.quiz.q2, :class => "edit_labels_answer" %>
  <%= f.text_field :r2, :placeholder => "What's your Answer?",  :style => "text-align: center" %>
</div>

<% end %>

<% if @user.quiz.q3 != "" %>

<div class="field"> <!-- reply 3  -->
  <%= f.label :r3, :value => @user.quiz.q3, :class => "edit_labels_answer" %>
  <%= f.text_field :r3, :placeholder => "What's your Answer?",  :style => "text-align: center" %>
</div>

<% end %>

<% if @user.quiz.q4 != "" %>

<div class="field"> <!-- reply 4  -->
  <%= f.label :r4, :value => @user.quiz.q4, :class => "edit_labels_answer" %>
  <%= f.text_field :r4, :placeholder => "What's your Answer?",  :style => "text-align: center" %>
</div>

<% end %>

<% if @user.quiz.q5 != "" %>

<div class="field"> <!-- reply 5  -->
  <%= f.label :r5, :value => @user.quiz.q5, :class => "edit_labels_answer" %>
  <%= f.text_field :r5, :placeholder => "What's your Answer?",  :style => "text-align: center" %>
</div>

<% end %> <!-- reply fields -->

<%= f.submit "Create" %>

<% end %> <!-- answer loop -->


<p>
  <%= link_to "Back", users_path, class: "button special" %>
</p>
</section>
<!-- else display user information -->
