<% if user_signed_in? %> <!-- USER LOG IN
	<!-- Main -->
		<section id="banner2">
			<!-- should update this first if statement conditional for validated/ready user -->
							<% if ((current_user.gender != "male") && (current_user.gender != "female") && (current_user.interestedin != "male") && (current_user.interestedin != "female")) %>
			<h2>Welcome to QMi, <%= current_user.username.capitalize %></h2>

				<p> Whoa! Before we can get started, we need you to set up your user profile! </p>
				<p style="font-size:20px"> Just click the button below, and be sure to fill out
					<u>all</u> of the preferences fields for the optimal experience! </p>
				<%= link_to "Set up my Account", edit_user_registration_path(anchor: 'Pref'), class: "button" %>
				<% else %>
				<h2>It's nice to see you again, <%= current_user.realname.capitalize %></h2>
				<p>
				Profile <br>
				Username: <%= current_user.username %> <br />
				Email: <%= current_user.email %> <br />
				gender: <%= current_user.gender %>
				age: <%= current_user.age %>
				id: <%= current_user.id %>
				quiz: <%= current_user.quiz %>

				<br />
				<br />
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
			  Create/Edit Quiz
				</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Your Current Quiz</h4>
      </div>
      <div class="modal-body"> <!-- quiz content goes here -->
        quiz content here
				<%= form_for @quiz do |f| %>
				<div class="field"> <!-- question 1 name -->
					<%= f.label :q1, "What will be your first question?", :class => "edit_labels", :maxlength => 10 %>
					<%= f.text_field :q1, :placeholder => "Question 1", :style => "text-align: center" %>
				</div>
				<%= f.submit "Create" %>
				<% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->


				<% if current_user.role? %> <!-- ADMIN USER -->
					Role: Admin <br />
				<% end %>
			</p>
			<p>Ready to meet new people?</p>
			<%= link_to "I want to start matching!", users_path, class: "button" %> <!-- this needs to have
			 route changed for when page is developed -->
			<% end %>

		</section>
<% else %>
	<!-- Before login -->
	<!-- Banner -->
		<section id="banner">
			<h2>QMi</h2>
			<p>In a world so busy, it's no wonder why people need effective
			solutions to meeting new and interesting people. You came to the
			right place.
			</p>

			<p class="lead">
				<%= link_to "Sign me up!", new_user_registration_path, class: "button" %>
			</p>
		</section>

	<!--First Section -->
	<!-- One -->
		<section id="one" class="wrapper style1 special">
			<div class="container">
				<header class="major">
					<h2>It's never been easier.</h2>
					<p>What are some of the features I can expect?</p>
				</header>
				<div class="row 150%">
					<div class="4u 12u$(medium)">
						<section class="box">
							<i class="icon big rounded color1 fa fa-cog fa-3x"></i>
							<h3>Fill Out a Questionnaire</h3>
							<p>Create a series of questions using our integrated tools which other
							users will have to answer. When they're done, their answers will be sent to
						you and if you like what their responses were, accept it and you can begin
					chatting immediately!</p>
						</section>
					</div>
					<div class="4u 12u$(medium)">
						<section class="box">
							<i class="icon big rounded color9 fa-wrench fa-3x"></i>
							<h3>Set Your Preferences</h3>
							<p>Choose from a variety of matchmaking preferences, such as geographical radius,
								or gender -- and we'll take care of the rest.
							</p>
						</section>
					</div>
					<div class="4u$ 12u$(medium)">
						<section class="box">
							<i class="icon big rounded color6 fa-heart fa-3x"></i>
							<h3>Match With Compatible People</h3>
							<p>On top of having a short profile bibliography, we'll help you create a more
							authentic experience with other people through our unique questionnaire system --
						ensuring you don't get weirdos or people that don't have the same mindset as you.</p>
						</section>
					</div>
				</div>
			</div>
		</section>

		<!-- end -->

		<!-- Second Section -->
		<section id="two" class="wrapper style2 special">
			<div class="container">
				<header class="major">
					<h2>Don't believe us?</h2>
					<p>Check out some testimonials from REAL users.</p>
				</header>
				<section class="profiles">
					<div class="row">
						<section class="3u 6u(medium) 12u$(xsmall) profile">
						 <%= image_tag('profile_placeholder.gif') %>
							<h4>Michael Jones</h4>
							<p>I was on Tinder before I found QMi, and it was the greatest
							switch I've ever made. I've met authentic people who have more in common
						with me, and it's amazing.</p>
						</section>
						<section class="3u 6u$(medium) 12u$(xsmall) profile">
							<%= image_tag('profile_placeholder.gif') %>
							<h4>Sharon Smith</h4>
							<p>All other online dating apps I've tried have left me feeling
							unsatisified and like I've wasted my time. QMi is great.</p>
						</section>
						<section class="3u 6u(medium) 12u$(xsmall) profile">
							<%= image_tag('profile_placeholder.gif') %>
							<h4>Bobby Chan</h4>
							<p>QMi is a great application for anyone who's serious about
							the online dating scene. It's never been easier to meet
						like-minded individuals who share a similar mindset to yours.</p>
						</section>
						<section class="3u$ 6u$(medium) 12u$(xsmall) profile">
							<%= image_tag('profile_placeholder.gif') %>
							<h4>Karen Vesuvius</h4>
							<p>I love it. Simply put.</p>
						</section>
					</div>
				</section>
	<% end %>
