<section id="banner2">
  <h2>You've made the right choice.</h2>
<div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.text_field :username, :placeholder => 'username', autofocus: true, :style => "text-align: center" %> <br />

  <%= f.email_field :email, :placeholder => 'email', :style => "text-align: center" %> <br />

  <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br />
  <%= f.password_field :password, :placeholder => 'password', autocomplete: "off", :style => "text-align: center" %> <br />

  <%= f.password_field :password_confirmation, :placeholder => 'Confirm your password', autocomplete: "off", :style => "text-align: center" %> <br />

  <%= f.submit "Sign up", class: "btn-submit" %>
  <% end %>
</div>

<hr />
<p> Have an account already? </p>
<%= link_to "Login", new_user_session_path, class: "button" %></li>
</section>
